# Configuration file

####################
# block
####################

block {
    I:blockExtender=3515
    I:buffer=3514
    I:filteringHopper=3497
    I:powerLimiter=3488
    I:relocationController=3489
    I:relocationPortal=3495
    I:sortingAlchemicalChest=3487
    I:sortingBarrel=3496
    I:sortingChest=3513
    I:sortingConnector=3498
    I:sortingIronChest=3499
}


####################
# item
####################

item {
    I:linker=31420
    I:playerRelocator=6601
    I:sortingUpgrade=6602
}


####################
# settings
####################

settings {
    I:"Ages Player Relocator Cannot Teleport From" <
     >
    B:"Disable Player Relocator"=false
    B:"Disable Wireless Block Extender"=false
    B:"Display Version Result"=true
    I:"Max Range Wireless Block Extender"=16
    I:"Player Relocator Cooldown Time (seconds)"=600
    I:"Player Relocator Cooldown Time (ticks)"=12000
}


