# Configuration file

####################
# block
####################

block {
    I:"botania:altar"=4081
    I:"botania:distributor"=4072
    I:"botania:enchanter"=4068
    I:"botania:flower"=4082
    I:"botania:livingrock"=4079
    I:"botania:livingwood"=905
    I:"botania:manaBeacon"=4071
    I:"botania:manaDetector"=4069
    I:"botania:manaVoid"=4070
    I:"botania:pistonRelay"=4073
    I:"botania:pool"=4076
    I:"botania:pylon"=4074
    I:"botania:runeAltar"=1962
    I:"botania:specialFlower"=730
    I:"botania:spreader"=4077
    I:"botania:turntable"=4067
    I:"botania:unstableBlock"=4075
}


####################
# general
####################

general {
    # Set to false to disable the wireframe when looking a block bound to something (spreaders, flowers, etc).
    B:boundBlock.wireframe.enabled=true

    # Set to false to disable the rotating items in the petal and rune entries in the Lexica Botania.
    B:lexicon.enable.rotatingItems=true

    # Set to false to disabled the animated 3D render for the lexica botania
    B:lexicon.render.3D=true

    # Set to false to remove the overriding of vanilla blocks (snow, red and yellow flowers). Setting this to false will remove the snow on flowers tweak.
    B:override.vanillaBlocks=false

    # Set to true to set the power system's particles to be a lot more subtle. Good for low-end systems, if the particles are causing lag.
    B:powerSystem.subtle=true

    # Set to true to use a static wand beam that shows every single position of the burst, similar to the way it used to work on old botania versions. Warning: Disabled by default because it may be laggy.
    B:wandBeam.static=false
    I:worldgen.flower.density=28
    I:worldgen.flower.quantity=4
}


####################
# item
####################

item {
    I:"botania:dye"=19557
    I:"botania:lens"=19562
    I:"botania:lexicon"=19555
    I:"botania:manaCookie"=19568
    I:"botania:manaGun"=19567
    I:"botania:manaPetal"=19563
    I:"botania:manaResource"=19560
    I:"botania:manaTablet"=19566
    I:"botania:pestleAndMortar"=19558
    I:"botania:petal"=19556
    I:"botania:rune"=19564
    I:"botania:signalFlare"=19565
    I:"botania:twigWand"=19559
}


